apiVersion: v1
kind: Secret
metadata:
  name: vsphere-equinix
  labels:
    cluster.open-cluster-management.io/cloudconnection: ''
    cluster.open-cluster-management.io/provider: vmw
data:
  metadata: "{{ metadata | b64encode }}"
