global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    stats socket /var/lib/haproxy/stats

    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    log                     global
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend http
    bind *:80

{% for n in range(max_clusters) %}
{% set i=n+1 %}
    acl v{{i}} hdr(host) -i apps.vsphere{{i}}.{{ base_domain }}
    use_backend bk_v{{i}}_api if v{{i}}

{% endfor %}

frontend ssl
    bind *:443
    bind *:6443

    mode tcp

    tcp-request inspect-delay 100ms
    tcp-request content accept if { req_ssl_hello_type 1 }

{% for n in range(max_clusters) %}
{% set i=n+1 %}
    acl v{{i}}_api    req_ssl_sni api.vsphere{{i}}.{{ base_domain }}
    acl v{{i}}_apps   req_ssl_sni -m end .apps.vsphere{{i}}.{{ base_domain }}
    use_backend bk_v{{i}}_api if v{{i}}_api
    use_backend bk_v{{i}}_apps_ssl if v{{i}}_apps

{% endfor %}
    
    acl esx01     req_ssl_sni -i esx01.{{ base_domain }}
    use_backend bk_esx01 if esx01

backend bk_esx01
    balance roundrobin
    server esx01 172.16.0.4:443

{% for n in range(max_clusters) %}
{% set i=n+1 %}
backend bk_v{{i}}_api
    balance roundrobin
    server    vip   172.16.0.{{i}}0:6443

backend bk_v{{i}}_apps_ssl
    balance roundrobin
    server    vip   172.16.0.{{i}}1:443

backend bk_v{{i}}_apps_http
    balance roundrobin
    server    vip   172.16.0.{{i}}1:80
{% endfor %}
